<input type="text" placeholder="Buscar por título" [(ngModel)]="searchTerm" />
<input
  type="number"
  placeholder="Cantidad de Productos"
  [(ngModel)]="productCount"
  (change)="updateProductCount()"
/>

<select [(ngModel)]="sortOrder" (change)="updateProductCount()">
  <option value="asc">Ascendente</option>
  <option value="desc">Descendente</option>
</select>

<p>Mostrando {{ productCount }} productos</p>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Precio</th>
      <th>Descripción</th>
      <th>Categoría</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of filteredProducts">
      <td>{{ product._id }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.category }}</td>
    </tr>
  </tbody>
</table>
